<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BaiduApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="BaiduApi.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BaiduApi.Properties.Settings>
            <setting name="PlaceAPIURL" serializeAs="String">
                <value>http://api.map.baidu.com/place/search?</value>
            </setting>
            <setting name="GeocoderAPIURL" serializeAs="String">
                <value>http://api.map.baidu.com/geocoder?</value>
            </setting>
            <setting name="TranslateAPIURL" serializeAs="String">
                <value>http://openapi.baidu.com/public/2.0/bmt/translate?</value>
            </setting>
        </BaiduApi.Properties.Settings>
        <BaiduApi.Settings>
            <setting name="PlaceAPIURL" serializeAs="String">
                <value>http://api.map.baidu.com/place/search?</value>
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value>681a902abc2ece20b5a9d3b52b94ea35</value>
            </setting>
            <setting name="GeocoderAPIURL" serializeAs="String">
                <value>http://api.map.baidu.com/geocoder?</value>
            </setting>
        </BaiduApi.Settings>
    </applicationSettings>
</configuration>